# Ignore de dependencias y builds
node_modules/
dist/
www/
www-test/
platforms/
plugins/
*.sourcemaps
/.versions
/coverage
/.ionic
/tmp/
/out-tsc/
/bazel-out/

# Logs (Importante para evitar archivos de texto temporales)
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
log.txt
debug.log

# Caché de Angular y Sass
.angular/
.sass-cache/

# IDEs y Editores
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-project
*.sublime-workspace
.history/

# Archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Otros
/.nx
/.nx/cache
/connect.lock
/libpeerconnection.log
/typings/
